body{background-color: pink;}
body div.card{float: left;}

.card{
    width: 30%;
    margin: 1.5%;
}
#contenido {
    margin-left: 1.3%;
}

#contenido h1 {text-align: center; padding-top: 4%; padding-bottom: 1%;}

.card-title{
    height: 5rem;
}
.card-subtitle {
    height: 1rem;
}